html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
body{

    min-width: 600px;
}
header{
    background-color: darkolivegreen;
    padding-top: 0.5em;
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 1em;
}
a{
    text-decoration: none;
}
header a{

    font-size: 1em;
}
header div{
    position: absolute;
    top: 0.8em;
    right: 4em;
}
header a {
    color: white;
    font-size: 1.5em;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.2em;
}
header a:hover{
    color: darkolivegreen;
    background-color: black;
}
header span{
    font-family: Gabriola;
    font-size: 2.5em;
    font-style: italic;
}
#searchbox{
    background-image:url("../material/images/search.png");
    border: none;
    width: 40px;
    height: 37px;
    float: right;
    outline: none;
}
[name=d]{
    background-color: darkolivegreen;
}
#content{
    border: 1px solid black;
    float: right;
    height: 37px;
    width: 400px;
}
form{
    float: right;
    margin-top: 1em;
    margin-right: 1.5em;
}
#title{
    font-weight: bold;
    font-size:3em;
    margin-left: 0.5em;
}
nav{
    background-color: gold;
    padding: 1em;
    border: 1px solid grey;
}

.nav{
    margin-left: 2em;
    margin-right: 2em;
    color: black;
}
.nav:hover{
    color: darkolivegreen;
}
header i{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}
.logout{
    background-image: url("../material/images/out1.png");
    height: 30px;
    width: 30px;
}
.cart{
    background-image: url("../material/images/cart4 .png");
    height: 30px;
    width: 30px;
}
.User{
    background-image: url("../material/images/people.png");
    height: 30px;
    width: 30px;
}

#searchbox:hover{
    cursor: pointer;
}

#people{
    padding: 1em;
    background-color: darkseagreen;
    border: 1px solid palevioletred;
    width: 35%;
    max-width: 450px;
    height:auto;
    /*margin-top: 2em;*/
    margin-right: 2em;
    float: left;
}
#recharge,#alter{
    background-color: darkolivegreen;
    border: 1px solid palevioletred;
    position: relative;
    margin-right: 1em;
    margin-left: 1.5em;
    font-size: 2em;
    border-radius: 0.4em;
}
#recharge:hover{
    background-color: gold;
    border: 1px solid palevioletred;
    position: relative;
    margin-right: 1em;
    margin-left: 1.5em;
    font-size: 2em;
}
#alter:hover{
    background-color: gold;
    border: 1px solid palevioletred;
    position: relative;
    margin-right: 1em;
    margin-left: 1.5em;
    font-size: 2em;
}
.information{
    margin-bottom: 1em;
    width: auto;
}
#upload{
    padding: 1em;
    background-color: darkolivegreen;
    border: 1px solid coral;
    margin-bottom: 1em;
}
#buy{
    padding: 1em;
    background: green;
    border: 1px solid coral;
    margin-bottom: 1em;
}
#sell{
    padding: 1em;
    background:darkseagreen;
    border: 1px solid coral;
}
#record{
    width: 60%;
    float: right;
}
div .list{
    border: 1px solid black;
    margin-top: 1em;
}
div .upload-photo{
    border: 1px solid black;
    margin: 0.5em;
}
#upload-photo-explain1{
    position: absolute;
    top: 270px;
    width: auto;
    min-width: 300px;
}
#upload-photo-explain2{
    position: absolute;
    top: 370px;
    width: auto;
    min-width: 300px;
}
#upload-photo-explain3{
    position: absolute;
    top:480px;
    width: auto;
    min-width: 300px;
}

table{
    border: 2px solid gray;
}

/*body{*/
    /*min-width: 800px;*/
/*}*/
.photo{
    margin: 0.5em;
}
#sell-photo-explain1{
    position: absolute;
    /*bottom: 10px;*/
    width: auto;
    min-width: 300px;
}
